body {
  background-color: #adc1b6;
}
.players {
  margin: 2em;
  padding: 1em;
  background-color: white;
}
.finishLine{
  position:absolute; 
  margin-left:80%; 
  height:90%;  
  border:2px solid red;
}
button{  
  width: 45%;
  padding: 1em;
}