#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .hero {
  width: 300px;
  text-align: center;
}

.winner {
  background-color: aquamarine;
} */

button {
  width: 100px;
  height: 50px;
}

#stat {
  width: 300px;
}
