* {
  margin: 0 auto;
  padding: 0;
}
.game {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player1,
.player2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: gray;
  margin-bottom: 20px;
  text-align: center;
}
.score {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50px;
  height: 30px;
  background-color: brown;
}
.start {
    margin-top: 20px;
}
