body {
  text-align: center;
}
.form {
  width: 300px;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

label {
  float: left;
}

.form-group {
  margin: 1px;
}

#log {
  text-align: left;
}

input {
  float: right;
}

hr {
  width: 100%;
}

#container {
  display: flex;
  justify-content: center;
}

button {
  width: 200px;
  height: 100px;
  color: green;
}
